@sidebar-bg: #02101d;
@global-back: linear-gradient(155deg, #00081f 0%, #000000 100%);
@menu-color: rgba(255, 255, 255, 0.5);
@menu-active-color: #00ffd0;
@text-color-p: #fff;
@gradient-back: linear-gradient(270deg, rgba(#00ffb7, 0.5) 0%, rgba(#00bfff, 0.5) 50%, rgba(#ff1a7f, 0.5) 100%);

.gradient-btn-large {
  width: 100%;
  height: 56px;
  background: linear-gradient(214deg, #59bdad 0%, #6676f5 61%, #9a89f9 76%, #eba7ff 100%);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  color: #fff;
  &:hover {
    background: linear-gradient(214deg, #a4fff0 0%, #8996ff 61%, #c9c0ff 76%, #f1c3ff 100%);
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
